.footer {
    background-color: rgba(255, 127, 80, 0.733);
    height: 5vh;
    border-top: 3px solid rgba(0, 0, 0, 0.801);
    margin-top:27px;
    display: flex;
    flex-direction: row;
    align-items: self-end;
    justify-content: space-between ;
    &__logo {
        height: 20px;
        width: 20px;
        border-radius: 60%;
        margin-right: 5px;
        margin-bottom: 5px;
        
    }
    &__copy {
        font-family: "Rubik Burned", system-ui;
        font-weight: 700;
        font-size: small;
        margin-left: 10px;
        margin-bottom: 10px;
    }
}