.header {
  height: 25vh;
  display:flex;
  flex-direction: column;
}
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 12vh;
  width: 100vw;
  background-color: rgba(255, 127, 80, 0.945);
  border-bottom: 3px solid rgba(0, 0, 0, 0.836);
  box-shadow: inset;
  opacity: 0.9;
  position: sticky;
  &__logo {
    border: 2px solid black;
    border-radius: 90%;
    width: 30px;
    height: 30px;
    margin: 10px 10px;
   
  }
}

.socialMediaTitle {
  text-transform: uppercase;
  font-family: "Rubik Burned", system-ui;
  font-size: 40px;
  text-align: center;
  align-self: center;
  position: relative;
  right: 15px;
 
}
.bannerDiv {
  
  display:flex;
  height: 4.3rem; 
  width: 90vw;
  &__figureGirl {
    display:flex;
    flex-direction: row;
      &--img {
      transform: scale(0.9);
    }
  }
  &__figurePc {
    display: flex;
    flex-direction: row;
    &--img {
      width: 60px;
      height: 60px;
    }
  }
  &__figureTalk {
    display: flex;
    flex-direction: row;
    &--img {
      width: 20px;
      height: 20px;
      transform: rotate(10deg);
    }
  }
}
