.main {
  background-color: lightgreen;
  height: 60vh;
  display: flex;
  &__btn {
    background-color: rgb(248, 183, 104);
    color: black;
    box-shadow: 8px 5px 7px #000000;
    font-weight: 700;
    justify-content: space-between;
    height: fit-content;
    font-family: "Rubik Burned", system-ui;
    font-size: 0.5rem;
    line-height: 1.5rem;
    text-align: center;
    text-decoration: none #000000 solid;
    max-width: fit-content;
    cursor: pointer;
    transform: rotate(-2deg);
    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s ease;
    }

    @media (min-width: 768px) {
      &__btn {
        padding: 0.75rem 3rem;
        font-size: 1.25rem;
      }
    }
  }

  &__sections {
    border: 2px solid black;
    min-width: 40vw;
   min-height: 50vh;
  //  margin-top: 35px;
   margin-left: 20px;
  }
}
.saveBtn {
  position: absolute;
  top: 140px;
  left: 100px;
  transform: rotate(7deg);
  border: 1px solid #000000;
}
.getBtn {
  position: absolute;
  top: 160px;
  left: 170px;
  transform: rotate(-7deg);
  border: 1px solid #000000;
}
.allUsers {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;

  &__fig {
    height: fit-content;
    width: fit-content;
    &--img {
      width: 50px;

    }
  }
  &__p, &__h3 {
    width: fit-content;
    font-family: 'Single Day', cursive; ;
    font-size: .5rem;
    text-align: center;
  }
}