<header class="header">
  <nav class="nav">
    <img class="nav__logo" src="images/sunsetCollage.png" alt="sunset image" />
  </nav>
  <h1 class="socialMediaTitle">copains!!</h1>

  <div class="bannerDiv">
      <figure class="bannerDiv__figureGirl">
        <img
        class="bannerDiv__figureGirl--img"
        src="images/girl.svg"
        alt="girl picture"
        />
      <figure class="bannerDiv__figureTalk">
        <img
          class="bannerDiv__figureTalk--img"
          src="images/talk.png"
          alt="talking icon"
        />
               
    </figure>
    <figure class="bannerDiv__figurePc">
      <img
        class="bannerDiv__figurePc--img"
        src="images/pc.svg"
        alt="personal computer picture"
      />
    </figure>
  </div>

</header>
