<header class="header">
  <nav class="nav">
    <img class="nav__logo" src="images/sunsetCollage.png" alt="sunset image" />
    <h1 class="socialMediaTitle">copains!!</h1>
  </nav>

  <div class="bannerDiv">
    <figure class="bannerDiv__figure">
      <img
        class="bannerDiv__figure--imgGirl"
        src="images/girl.svg"
        alt="girl picture"
      />
    
    <!-- <figure class="bannerDiv__figureTalk"> -->
      <img
        class="bannerDiv__figure--imgTalk"
        src="images/talk.png"
        alt="talking icon"
      />
    
    <!-- <figure class="bannerDiv__figurePc"> -->
      <img
        class="bannerDiv__figure--imgPc"
        src="images/pc.svg"
        alt="personal computer picture"
      />
    </figure>
  </div>
</header>
