@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'layout/mainContent';
@import 'layout/footer';

.body {
    background-color: antiquewhite;
    background-image: url('/images/volleyball.svg');
    background-repeat: repeat;
    background-repeat: space 10px;
    background-size: 50px;
    background-attachment: fixed;
    display:flex;
    flex-direction: column;
    

    
}
//font-family: 'Rubik Burned', system-ui;